{% extends "journal/base.html" %}

{% block subtitle %}
{{ entry.title }}
{% endblock %}

{% block content %}
<article class="entry-detail">
  <div class="entry">
   <div class="staff-actions">
{% if request.user.is_staff %}
    <a href="{% url 'admin:journal_entry_change' entry.id %}">Edit</a>
{% endif %}
   </div>
   <h2><a href="{% url 'journal:view_slug' entry.slug %}">{{ entry.title }}</a></h2>
   <div class="meta">
    {{ entry.created_at|date:"M d, Y" }}
    {% if entry.tags %} |
     {% for tag in entry.tags.split %}
      <a href="{% url 'journal:tagged_entries' tag|slice:'2:' %}" class="tag">{{ tag|slice:'2:' }}</a>
     {% endfor %}
    {% endif %}
   </div>
   <div class="content">
    {% if entry.plain_text %}
      <div class="plaintext" style="display: none;">{{ entry.content|linebreaksbr }}</div>
    {% else %}
      <div class="markdown-source" style="display: none;">{{ entry.content }}</div>
      <div class="markdown-rendered"></div>
    {% endif %}
    {% if entry.media_file %}
      <div class="media">
        {% if entry.media_file.url.lower|slice:"-4:" == ".jpg" or entry.media_file.url.lower|slice:"-4:" == ".png" or entry.media_file.url.lower|slice:"-5:" == ".jpeg" %}
          <img src="{{ entry.media_file.url }}" alt="attached image" style="max-width: 100%;">
        {% else %}
          <a href="{{ entry.media_file.url }}" target="_blank">Download attached file</a>
        {% endif %}
      </div>
    {% endif %}
   </div>
  </div>


  <hr>
  <div class="back-arrows">
  <a href="{% url 'journal:blog_list' %}">← 返回</a><!-- TODO: back depending on type -->
  </div>
</article>
{% endblock %}
