{% extends "journal/base.html" %}

{% block content %}
  <div style="text-align: right; margin-bottom: 0.5em">
      <span><form style="display:inline" method="get" action="{% url 'journal:search' %}"><input type="text" name="q" value="{{ orig_query }}"></text> <button>🔎</button></form></span>
{% if request.user.is_staff %}
    <a href="{% url 'admin:journal_entry_add' %}" style="text-decoration: none">+</a>
{% endif %}
  </div>
 {% for entry in entries %}
  <div class="entry">
   <div class="staff-actions">
{% if request.user.is_staff %}
    <a href="{% url 'admin:journal_entry_change' entry.id %}">Edit</a>
{% endif %}
   </div>
   <h2><a href="{% url 'journal:view_slug' entry.slug %}">{{ entry.title }}</a></h2>
   <div class="meta">
    {{ entry.created_at|date:"M d, Y" }}
    {% if entry.tags %} |
     {% for tag in entry.tags.split %}
      <a href="{% url 'journal:tagged_entries' tag|slice:'2:' %}" class="tag">{{ tag|slice:'2:' }}</a>
     {% endfor %}
    {% endif %}
   </div>
   <div class="content">
    {% if entry.plain_text %}
      <div class="plaintext">{{ entry.content|linebreaksbr }}</div>
    {% else %}
      <div class="markdown-source" style="display: none;">{{ entry.content }}</div>
      <div class="markdown-rendered"></div>
    {% endif %}
    {% if entry.media_file %}
      <div class="media">
        {% if entry.media_file.url.lower|slice:"-4:" == ".jpg" or entry.media_file.url.lower|slice:"-4:" == ".png" or entry.media_file.url.lower|slice:"-5:" == ".jpeg" %}
          <img src="{{ entry.media_file.url }}" alt="attached image" style="max-width: 100%;">
        {% else %}
          <a href="{{ entry.media_file.url }}" target="_blank">Download attached file</a>
        {% endif %}
      </div>
    {% endif %}
   </div>
  </div>

 {% empty %}
  <p>未有嘢</p>
 {% endfor %}
  <div class="paginate-arrows">
      <span style="float:left">{{ entries.previous_a_start }}《《{{ entries.previous_a_end }}</span>
      <span style="float:right">{{ entries.next_a_start }}》》{{ entries.next_a_end }}</span>
      &nbsp;
  </div>
{% endblock %}
