{% extends "journal/base.html" %}

{% block content %}
  <div style="text-align: right">
{% if request.user.is_staff %}
    <a href="{% url 'admin:journal_entry_add' %}" style="text-decoration: none">+</a>
{% endif %}
  </div>
 {% for entry in entries %}
  <div class="entry">
   <div class="staff-actions">
{% if request.user.is_staff %}
    <a href="{% url 'admin:journal_entry_change' entry.id %}">Edit</a>
{% endif %}
   </div>
   <h2><a href="{% url 'view_slug' entry.slug %}">{{ entry.title }}</a></h2>
   <div class="meta">
    {{ entry.created_at|date:"M d, Y" }}
    {% if entry.tags %} |
     {% for tag in entry.tags.split %}
      <a href="{% url 'tagged_entries' tag|slice:'2:' %}" class="tag">{{ tag }}</a>
     {% endfor %}
    {% endif %}
   </div>
   <div class="content">
      <div class="markdown-source" style="display: none;">{{ entry.content }}</div>
      <div class="markdown-rendered"></div>
   </div>
  </div>

 {% empty %}
  <p>No entries yet.</p>
 {% endfor %}
  <div>
      {{ entries.previous_a_start }}Prev{{ entries.previous_a_end }}
      {{ entries.next_a_start }}Next{{ entries.next_a_end }}
  </div>
{% endblock %}
